---
layout: layouts/home.njk
eleventyNavigation:
  key: Заметки
  order: 2
permalink: "{% if pagination.pageNumber > 0 %}notes/page/{{ pagination.pageNumber + 1 }}/index.html{% else %}notes/index.html{% endif %}"
pagination:
  data: collections.notes
  size: 20
  reverse: true
---

{% set postslist = collections.notes %}
{% include "noteslist.njk" %}
